<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRvohsr7dit1Jetl7j65VAgVjsDdiCbNA</string>
	<key>GCM_SENDER_ID</key>
	<string>182065126076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tfgmanuelcb</string>
	<key>PROJECT_ID</key>
	<string>tfgmanuelcb</string>
	<key>STORAGE_BUCKET</key>
	<string>tfgmanuelcb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182065126076:ios:e70a6e2b56b3e427ec8eb9</string>
</dict>
</plist>